{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
    <div style="background-image: url('https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg');background-size: cover; background-position: center; padding: 50px 0;" >
        <br><br><br><br><br>

        <div style="max-width: 800px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.8); border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px;">
        
    <h4>Forgot Password</h4>
    <br>
    <form method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit" style=" margin-left: 600px;">Reset Password</button>
    </form>
        </div>
        <br><br><br><br><br><br><br><br>


    </div>
    {% endblock 'main' %}

