{% extends 'base.html' %}
{% load static %}
{% block 'main' %}


		<!-- Slider Area -->
		<section class="slider">
			<div class="slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('static/img/hero3.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1 style="color: white;">Your Path to <span>Better Health</span> Begins Here! <span></span></h1>
                                    <!-- Your Path to Better Health Begins Here -->
									<p style="color: black;">Prioritize your well-being with our holistic approach: <br> balanced nutrition, regular exercise, quality sleep, and effective stress management.Transform your health journey today!</p>
									<div class="button">
										<a href="/appointment" class="btn">Get Appointment</a>
										<a href="#" class="btn primary">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				
				
			</div>
		</section>
		<!--/ End Slider Area -->


        <!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="bi bi-heart-pulse"></i>
									</div>
									<div class="single-content">
										<span>Holistic approach to well-being:
										</span>
										<h4>Comprehensive Wellness Solutions</h4>
										<ul class="time-sidual">
											<li class="day">Balanced nutrition</li>
											<li class="day">Quality sleep</li>
											<li class="day">Effective stress management
											</li>
										</ul>
										<a href="#">LEARN MORE<i class="bi bi-heart-pulse"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="bi bi-heart-pulse"></i>
									</div>
									<div class="single-content">
										<span>Personalized approach to health:
										</span>
										<h4>Tailored Wellness Plans:</h4>
										<ul class="time-sidual">
											<li class="day">Tailored to your needs</li>
											<li class="day">Expert guidance from certified professionals</li>
											<li class="day">Supportive community</li>
										</ul>										
										<a href="#">LEARN MORE<i class="bi bi-heart-pulse"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="bi bi-heart-pulse"></i>
									</div>
									<div class="single-content">
										<span>Premium benefits include:</span>
										<h4>Exclusive Features for Optimal Health:</h4>
										<ul class="time-sidual">
											<li class="day">Interactive tools</li>
											<li class="day">Detailed progress tracking</li>
											<li class="day">Access to premium health resources</li>
										</ul>
										<a href="#">LEARN MORE<i class="bi bi-heart-pulse"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->

		<!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Offer Different Services To Improve Your Health</h2>
							<img src="{% static 'img/section-img.png' %}" alt="#">
							<p>Discover personalized solutions designed to enhance your well-being and support a healthier lifestyle.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3>Who We Are</h3>
							<p>Healthy SEVEN, founded by Raj Patil, is dedicated to enhancing the well-being of individuals and communities. Our mission is to guide users towards a healthier lifestyle through personalized advice and resources. We offer a wide range of medical products available for quick delivery, ensuring that you have access to the essentials you need to maintain your health. </p>
							<p>At Healthy SEVEN, we believe in empowering people with the knowledge and tools to lead a better, healthier life. </p>
							<div class="row">
								<div class="col-lg-6">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i> Personalized Health Guidance </li>
										<li><i class="fa fa-caret-right"></i> Wide Range of Medi-Products</li>
										<li><i class="fa fa-caret-right"></i> Expert Health Resources</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="list">
										
										<li><i class="fa fa-caret-right"></i> User-Friendly Platform </li>
										<li><i class="fa fa-caret-right"></i> Community Support
										</li>
										<li><i class="fa fa-caret-right"></i> Trusted Quality
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/i558ELW6HCA?si=IOXeZ_HkWsgAZeae" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->
		

		<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<h2>Do you need Emergency Medical Care? Call @ 1234 56789</h2>
							<p>When immediate medical assistance is crucial, we are here to help. Our emergency services are available 24/7 to provide prompt and professional care. Don’t hesitate to reach out to us at any time for urgent medical needs. Your health and safety are our top priority.</p>
							<div class="button">
								<a href="#" class="btn">Contact Now</a>
								<a href="#" class="btn second">Learn More  <i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->
		
        
		<!-- Start portfolio -->
		<section class="portfolio section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Our Top Priorities: Your Health and Well-being
							</h2>
							<img src="{% static 'img/section-img.png' %}" alt="#">
							<p>Your health and well-being are our top priorities. We are dedicated to providing exceptional care and personalized services to enhance your lifestyle. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="owl-carousel portfolio-slider">
							<div class="single-pf">
								<img src="{% static 'img/101.jpg' %}" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/102.jpg' %}" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/109.jpg' %}" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/104.jpg' %}" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/105.jpg' %}" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/106.jpg' %}" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/107.jpg' %}" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/108.jpg' %}" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End portfolio -->
		
{% endblock 'main' %}
