{% load static %}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthySEVEN</title>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
    <link rel="icon" href="{% static 'img/number-7-seven-font-logo-blue-icon-vector-20784050-removebg-preview.png' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">


</head>

<body>
    <form method="post" id="login-form" class="blur-container"  role="main">
        <h1 class="a11y-hidden">Login Form</h1>
        {% csrf_token %}

        <div>
            <label class="label-email">
                <input type="email" class="text"  name="uname" placeholder="Example@email.com" tabindex="1" required />
                <span class="required">Email</span>
            </label>
        </div>
        <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3" />
        <label class="label-show-password" for="show-password">
            <span>Show Password</span>
        </label>
        <div>
            <label class="label-password">
                <input type="text" class="text" name="upass" placeholder="Password" tabindex="2" required />
                <span class="required">Password</span>
            </label>
        </div>
        <!-- <a href="/appointment" class="btn">Book Appointment</a> -->
        <input type="submit"  value="Log In" />

        <div class="email">
            New User? <a href="register">Signin</a>
            | <a href="forgot-password/">Reset Password</a>
        </div>
        
        <figure aria-hidden="true">
            <div class="person-body"></div>
            <div class="neck skin"></div>
            <div class="head skin">
                <div class="eyes"></div>
                <div class="mouth"></div>
            </div>
            <div class="hair"></div>
            <div class="ears"></div>
            <div class="shirt-1"></div>
            <div class="shirt-2"></div>
        </figure>
    </form>
</body>

</html>