{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div style="background-image: url('https://images.pexels.com/photos/6551108/pexels-photo-6551108.jpeg');background-size: cover; background-position: center; padding: 50px 0;" >
    <br>
    <div style="max-width: 800px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.8); border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px;">
    <h2 style="text-align: center; color: #333;">Obesity Exercise Routine</h2>
<br>
    <div style="max-width: 600px; margin: 0 auto;">
        <div style="margin-bottom: 30px;">
            <h3>1. Jumping Jacks</h3>
            <img src="https://hips.hearstapps.com/hmg-prod/images/workouts/2016/03/jumpingjack-1457045563.gif" alt="Jumping Jacks" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
            <p>Description: Perform jumping jacks for 1 minute.</p>
        </div>

        <div style="margin-bottom: 30px;">
            <h3>2. Squats</h3>
            <img src="https://hips.hearstapps.com/hmg-prod/images/workouts/2016/03/bodyweightsquat-1457041691.gif" alt="Squats" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
            <p>Description: Perform 3 sets of 10 squats.</p>
        </div>

        <div style="margin-bottom: 30px;">
            <h3>3. Push-Ups</h3>
            <img src="https://cdn.jefit.com/assets/img/exercises/gifs/47.gif" alt="Push-Ups" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
            <p>Description: Perform 3 sets of 8-12 push-ups.</p>
        </div>

        <div style="margin-bottom: 30px;">
            <h3>4. Jogging</h3>
            <img src="https://i.pinimg.com/originals/cd/51/26/cd5126eff8572af57bd33219712337f7.gif" alt="Jogging" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
            <p>Description: Jog for 20 minutes.</p>
        </div>

        <div>
            <h3>5. Plank</h3>
            <img src="https://cdn.jefit.com/assets/img/exercises/gifs/631.gif" alt="Plank" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
            <p>Description: Hold a plank position for 30 seconds to 1 minute.</p>
        </div>
    </div>
    </div>
</div>
{% endblock 'main' %}
