<!-- password_reset_done.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Done</title>
</head>
<body>
    <div style="background-image: url('https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg');background-size: cover ; background-position: center; " >
        <br><br><br><br><br>

        <div style="max-width: 800px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.8); border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px;">
        
    <h2>Password Reset Request Submitted</h2>
    <p>An email with instructions for resetting your password has been sent to your email address. Please check your inbox and follow the instructions provided.</p>
        </div>
        <br><br><br><br><br><br><br><br>        
        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br>
        <br><br>

    </div>
</body>
</html>
