{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="container" style="max-width: 600px; margin: 50px auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div style="text-align: center; margin-bottom: 30px;">
            <img src="https://cdn-icons-png.flaticon.com/512/9187/9187604.png" alt="User Profile Photo" style="max-width: 100px; height: auto;">

    </div>
    <div style="text-align: left;">
        <div class="form-group">
            <label  for="username" style="font-weight: bold;"> <h4>Email:     <a href="" style="text-decoration: underline;">    {{ user.username }}</a> </h4></label>
        </div>
        
    </div>
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



{% endblock 'main' %}